<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>PeerRate | Log In</title>
</head>
<body>
  <div class="mainTop forceCenter">
   <img src="https://i.postimg.cc/MHhmh3JB/logo.png" class="mainLogo">
  </div>
  <div class="underLine forceCenter">
   <!--  <div class="underLineText">
        <a href="/accounts/signup">Dashboard</a>
        <span>Credits: X</span>
        <a href="/accounts/signup">Log Out</a>
    </div> -->
  </div>
  <div class="forceCenter">
    <div class="mainContainer">
    <a href="/accounts/signup">No Account? Sign up Here</a>
    <form action="/accounts/authenticate" method="post">
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <div class="forceCenter">
          <p><input type="submit" value="Log In"></p>
        </div>
    </form>
    </div>
  </div>
</body>
</html>