<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Search Results</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    Signed in: <span th:text="${session.username}"></span>
    <p th:text="'Results: ' + ${searchResults[0][0]}" />
    <tr th:each="data, iterstat: ${searchResults}">
        <form action="/opinions/addForm">
            <input style="display:none" type="text" name="receiverName" th:value="${searchResults[iterstat.index][0]}">
            <input style="display:none" name="receiverEmail" th:value="${searchResults[iterstat.index][1]}">
            <input type="submit" th:value="'Review ' + ${searchResults[iterstat.index][0]}"></td>
        </form><br>
    </tr>
</body>
</html>