<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>PeerRate | Sign Up</title>
</head>
<body>
  <div class="mainTop forceCenter">
   <img src="https://i.postimg.cc/MHhmh3JB/logo.png" class="mainLogo">
  </div>
  <div class="underLine forceCenter">
  </div>
  <div class="forceCenter">
    <div class="mainContainer">
    <a href="/accounts/login">Have an Account? Login Here</a>
    <form action="/accounts/create" method="post">
      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="password" name="password"></p>
      <p>Latest Company You Worked for: <input type="text" name="company"></p>
      <p>Name: <input type="text" name="name"></p>
      <div class="subContainer">
      <p><input type="submit" value="OK"></p>
      </div>
  </form>
    </div>
  </div>
</body>
</html>